

  <div class="match">
  <h3>Encontramos una concidencia!</h3>
  <figure>
    <%= image_tag Gravatar.new(@friend.email).image_url(s: 300),:class=>"img-circle matchimg"%>
    <p class="match1"><%= @friend.name %>, <strong><%= @friend.age %> años</strong></p>
  </figure>
  
  <figure>
    <%= image_tag Gravatar.new(current_user.email).image_url(s: 300),:class=>"img-circle matchimg"%>
    <p class="match2"><%= current_user.name %>, <strong><%= current_user.age %> años</strong></p>
  </figure>
</section>
</div>
</div>