<!DOCTYPE html>
<html>
<head>
  <title>Fzone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="container">

    <div class="col-sm-12">
      <header>


      <div class="row">
        <div class="col-sm-6">

        <p class="titulo">ยก TE GUSTA O NO !</p>
          <div class="divsubt">
                 <p class="subt">Elige aquellos amig@s que te gustan de forma anonima,</p><p class="subt"> te avisaremos si ambos coinciden, el resto va por tu cuenta.</p>
            </div>
        </div>
        <div class="col-sm-6 text-right"> <% if user_signed_in? %>
        <%= link_to "Salir", destroy_user_session_path, method: :delete, :class=>"link-avatar"%>
        <%= image_tag Gravatar.new(current_user.email).image_url,:class=>"img-circle avatar" %>
        <% end %>
      </div>
      </div>
      </header>
    </div>
    <div class="row">
      <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-8">
               <% flash.each do |name, err|%>
                   <%= content_tag :div, err, class: name%>
                   <% end %>





        <%= yield %>

                 <% unless user_signed_in? %>
              <%= render 'shared/modal_login' %>

            <% end %>




      </div>
    </div>




  </div>
     <!-- <footer>
      <p>Escribenos en twitter <a href="#"><i class="fa fa-twitter"></i> tegustaono</a></p>
      <p>&copy; 2014 por <strong>MikeDev</strong></p>
    </footer> -->
</body>
</html>
